---
import AceptarTerminos from './AceptarTerminos.astro';
import RadioButton2 from './RadioButton2.astro';

interface Props {
  Text1: string;
  id1: string;
  id2: string;
  name: string;
}

const { Text1, id1, id2, name } = Astro.props;
---

<div class="w-full bg-white">
    <div class="grid rounded-lg">
        <!-- Filas de la tabla -->
        <div class="grid grid-cols-12 items-center border-b py-4">
            <!-- Columna Pregunta -->
            <div class="col-span-12 md:col-span-10 flex items-center pl-4">
                <span class="text-lg">{Text1}</span>
            </div>
            
            <!-- Columna Sí -->
            <div class="col-span-6 md:col-span-1 flex justify-center items-center space-x-2">
                <RadioButton2 id={id1} name={name} value="true" />
            </div>

            <!-- Columna No -->
            <div class="col-span-6 md:col-span-1 flex justify-center items-center space-x-2">
                <RadioButton2 id={id2} name={name} value="false" />
            </div>
        </div>
        <!-- Añadir más filas aquí -->
    </div>
</div>